div#page {
    border:1px solid rgb(228, 83, 16);
    width:755px;
    margin:0 auto;
    padding:5px;
    text-align:left;
    position:relative
  }
  div#cabecalho {
    border:2px solid rgb(248, 6, 99);
    width:750px;
    height:30px;
  }
